* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #dcfeff;
  --color-secondary: #2567ca;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey0: #181818;
  --color-grey1: #3b3b3b;
  --color-grey2: #8b8b8b;
  --color-grey3: #aaaaaa;
  --color-grey4: #c7c7c7;
  --color-grey5: #d6d6d6;
  --color-grey6: #ececec;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("background-stars.jpg");
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: whitesmoke;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.itemSpecific {
  max-width: 600px;
  height: auto;
  background: black;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-align: center;
}

.solar {
  background-size: contain;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  border-radius: 5px;
}

.solarImg {
  background-image: url("ion.png");
  background-size: contain;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  border-radius: 5px;
}

.food {
  background-image: url("autofarm.jpg");
  background-size: contain;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  border-radius: 5px;
}

.drone {
  background-image: url("droneBg2.jpg");
  background-size: contain;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  border-radius: 5px;
}

.quantum {
  background-image: url("brain.jpg");
  background-size: contain;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  border-radius: 5px;
}

a {
  text-decoration: none;
  text-shadow: 0px 0px 6px #000, 0px 0px 6px #000, 0px 0px 4px #000, 0px 0px 2px #000;
  color: whitesmoke;
  font-family: inherit;
}

a:hover {
  color: #f1e1fc;
  text-shadow: #5c2283 1px 1px 1px;
  translate: -1px -1px;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .background-center{
    min-height: 100vh;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    background-color: rgb(253, 247, 240);
    border-left: bisque;
    border-right: bisque;
} */
.exp {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.exp div {
  margin: 0px 6px 0px 6px;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: small;
}

.pages {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.pages a {
  margin: 0rem 0rem 0.5rem 0rem;
}

.nav {
  position: sticky;
  top: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("background-stars.jpg");
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: var(--color-grey1);
  z-index: 10;
  border-bottom: 1px solid;
}

.visionNav {
  background: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.visionSub {
  margin-top: 4rem;
  padding: 1rem 2rem;
  background-color: rgba(50, 50, 50, 0.4);
  border-radius: 7px;
}

.visionList {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.vision {
  display: flex;
  margin-top: 60px;
  width: 350px;
  height: 150px;
  text-align: center;
  justify-content: center;
  background-position: center;
}

.visionStatement {
  display: flex;
  max-width: 400px;
  height: auto;
}

.benefits {
  display: flex;
  flex-direction: column;
  text-shadow: 0px 0px 6px #000, 0px 0px 6px #000, 0px 0px 4px #000, 0px 0px 2px #000;
  margin: 4rem 0 2rem 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.nav a {
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.inLineDiv {
  display: flex;
  flex-direction: row;
}

#CV-button {
  width: 150px;
  height: auto;
  border: 2px solid;
  border-radius: 5px;
  background-color: black;
  color: whitesmoke;
}

.page {
  margin: 0 1rem 0 1rem;
}

.profile-image {
  -o-object-position: 1px 2px;
     object-position: 1px 2px;
  max-width: 220px;
  height: auto;
  border-radius: 50%;
}

.intro {
  margin: 2rem auto 3rem auto;
  max-width: 70%;
}

.joke {
  font-size: x-small;
  font-weight: bold;
}

.about-me-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.about-me-section {
  display: flex;
  justify-items: stretch;
  max-width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}

.about-me-section:nth-child(odd) {
  max-width: 100%;
  position: relative;
  transform: rotate(-5deg);
  align-items: center;
}
.about-me-section:nth-child(odd) #about-me-image {
  max-width: 100%;
  border: 1px;
  border-radius: 4px;
}
.about-me-section:nth-child(odd) #about-me-image img {
  display: block;
  max-width: 100%;
  border: 1px;
  border-radius: 4px;
}
.about-me-section:nth-child(odd) #about-me-text {
  padding-left: 1rem;
  position: relative;
  transform: rotate(5deg);
}
.about-me-section:nth-child(odd) #about-me-text p {
  max-width: 500px;
}

.about-me-section:nth-child(even) {
  max-width: 100%;
  position: relative;
  transform: rotate(5deg);
  align-items: center;
}
.about-me-section:nth-child(even) #about-me-image {
  max-width: 100%;
  border: 1px;
  border-radius: 4px;
}
.about-me-section:nth-child(even) #about-me-image img {
  max-width: 100%;
  border: 1px;
  border-radius: 4px;
}
.about-me-section:nth-child(even) #about-me-text {
  padding-right: 1rem;
  position: relative;
  transform: rotate(-5deg);
}
.about-me-section:nth-child(even) #about-me-text p {
  max-width: 500px;
}

.about-me-section:nth-child(3) {
  transform: rotate(0deg);
}
.about-me-section:nth-child(3) #about-me-text {
  margin: 1rem;
  max-width: 100%;
  position: relative;
  transform: rotate(0deg);
}

.about-me-section:last-of-type {
  transform: rotate(0deg);
}
.about-me-section:last-of-type #about-me-text {
  margin: 1rem;
  max-width: 100%;
  position: relative;
  transform: rotate(0deg);
}

.contact-main {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.left-contact {
  width: 50%;
  text-align: center;
}

.left-contact div {
  margin: 0.3rem 0rem 0.3rem 0rem;
}

.right-contact {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.contact-icons {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;
  justify-content: center;
}

.contact-icon {
  margin: 1rem 1rem 0rem 1rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.contact-form {
  display: inline-block;
  width: 100%;
}

.input-fields div {
  margin: 0.3rem 0rem 0.3em 0rem;
}

.formSubmit {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1rem;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border: none;
  padding: 1rem;
}

.submitBtn {
  background-color: inherit;
  color: whitesmoke;
  padding: 0.1rem;
  margin-left: 1rem;
}

.submit:hover {
  color: #f1e1fc;
  text-shadow: #5c2283 1px 1px 1px;
  translate: -1px -1px;
}

.contact-icon:hover {
  color: #f1e1fc;
  text-shadow: #5c2283 1px 1px 1px;
  translate: -1px -1px;
}

.field {
  width: 40%;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
  font-size: medium;
}

.consent-text {
  width: 50%;
  font-size: small;
}

.donate {
  margin-top: 1rem;
}

.donate-link {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: small;
}

.donate-link p {
  margin: 0;
}

.donate-contact-wide {
  margin: 2rem 0 2rem 0;
}

.donate-contact-narrow {
  display: none;
  margin: 2rem 0 0 0;
}

.solarText {
  color: whitesmoke;
}

.imgIcon {
  max-width: 80px;
  height: auto;
  border-radius: 10px;
  transform: rotate(-5deg);
  margin: 0.5rem;
}

.imgIcon2 {
  max-width: 80px;
  height: auto;
  border-radius: 10px;
  transform: rotate(5deg);
  margin: 0.5rem;
}

.wrapper {
  margin: 2rem 0 4rem 0;
  background: rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  border-radius: 5px;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wrapper .icon {
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.65);
  line-height: 50px;
  border-radius: 50%;
  font-size: 30px;
  color: whitesmoke;
}

.wrapper .content {
  margin: 10px 0;
}

.content header {
  font-size: 30px;
  font-weight: 600;
}

.content p {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 400;
  margin-left: -3px;
}

.design {
  max-width: 450px;
  height: auto;
  text-align: center;
}

.designImg {
  max-width: 350px;
  height: auto;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 50%;
}

.team {
  margin-top: 2rem;
  border-top: 2px solid whitesmoke;
}
.team img {
  scale: 70%;
}

.designImgText {
  height: auto;
  padding-bottom: 1rem;
}

form {
  width: 98%;
}

form .field {
  height: 45px;
  width: 100%;
}

form .field input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  padding: 0 20px;
  outline: none;
  font-size: 17px;
}

form .field input:focus {
  background-color: rgba(0, 0, 0, 0.65);
}

form .btn {
  height: 47px;
}

form .btn input {
  background: rgba(0, 0, 0, 0.65);
  color: whitesmoke;
  font-size: 19px;
  border: 1px solid whitesmoke;
  padding: 0 15px;
  outline: none;
  font-size: 17px;
  transition: all;
}

.tools {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.toolsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolList {
  display: flex;
  flex-direction: row;
}

.tool {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.toolIcon {
  grid-column: 1;
  grid-row: 1;
  max-height: 60px;
  max-width: 60px;
}
.toolIcon .img {
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: auto;
}

.toolName {
  grid-column: 2/3;
  grid-row: 1;
  max-height: 60px;
  max-width: 60px;
}

.toolTitle {
  font-size: 1rem;
}

.toolDesc {
  grid-column: 1/3;
  grid-row: 2;
  max-height: 60px;
  max-width: 120px;
}

@media screen and (max-width: 440px) {
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }
  header .right-header {
    padding: 2rem !important;
    padding-top: 3rem !important;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .profile-image {
    width: 8rem;
    height: auto;
    border-radius: 50%;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.5rem !important;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .about-stats .progress-bars {
    grid-template-columns: 1fr;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .blogs {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .ic2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .ic2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .section {
    padding: 2rem 2.5rem !important;
  }
  .main-title h2 {
    font-size: 2rem;
  }
  .main-title h2 span {
    font-size: 2.5rem;
  }
  .main-title h2 .bg-text {
    font-size: 3rem;
  }
  .controls {
    top: 0;
    bottom: auto;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey5);
  }
  .controls .control {
    margin: 1rem 1rem !important;
  }
}
@media screen and (max-width: 1432px) {
  header {
    padding: 0 !important;
  }
  .section {
    padding: 7rem 11rem;
  }
  .contact-content-con {
    flex-direction: column;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .ic2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .ic2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 1070px) {
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    padding-top: 2.5rem;
  }
  .portfolios {
    grid-template-columns: 1fr 1fr;
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 500px) {
  .section {
    padding: 7rem 6rem;
  }
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
    padding-top: 3rem !important;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .main-title h2 {
    font-size: 4rem;
  }
  .main-title h2 span {
    font-size: 4rem;
  }
  .main-title h2 .bg-text {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 950px) {
  .field {
    width: 60%;
  }
}
@media screen and (max-width: 750px) {
  .field {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left-contact {
    width: 80%;
  }
  .right-contact {
    width: 80%;
    margin-top: 3rem;
  }
  .donate-contact-wide {
    margin: 2rem 0 2rem 0;
    display: none;
  }
  .donate-contact-narrow {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */